h1{
    text-align: center;
    text-decoration: underline;
    color: antiquewhite;
}
body{
    background-color: darkseagreen;
}
h2{
color: antiquewhite;
}
p{
    color: antiquewhite;
}
ul{
    color: antiquewhite;
}
img{
    margin-left: 23px;
}